{% load static %}

<ul class="nav navbar-collapse collapse">
    <li class="dropdown">
        {{ contact_list.name_list }}
        <a class="dropdown-toggle" id="dropuser" data-toggle="dropdown" href="#">
            {% if contact_list.is_public %}
                <img src='{% static "img/public_agenda.png" %}' border="0"/>
            {% else %}
                <img src='{% static "img/private_agenda.png" %}' border="0"/>
            {% endif %}
            <b class="caret"></b>
        </a>

        <ul class="dropdown-menu" role="menu" aria-labelledby="dropuser">
            {% if contact_list.owner_list == user %}
                <li><a href='{% url "app_contact_list_edit" contact_list.pk %}'>Edit</a></li>
            {% endif %}
            <li>
                <a href='{% url "app_contact_list_user" contact_list.owner_list.username %}'>
                View all created by {{ contact_list.owner_list.username }}</a>
            </li>
            {% if user.is_authenticated %}
                <li><a href='{% url "app_contact_list_user" user.username %}'>View contacts</a></li>
            {% endif %}
        </ul>
    </li>
</ul>