{% load static %}

<ul class="nav navbar-collapse collapse">
    <li class="dropdown">
        {{ contact_list.name }}
        <a class="dropdown-toggle" id="dropuser" data-toggle="dropdown" href="#">
            {% if contact_list.is_public %}
                <img src='{% static "img/public_agenda.png" %}' border="0"/>
            {% else %}
                <img src='{% static "img/private_agenda.png" %}' border="0"/>
            {% endif %}
            <b class="caret"></b>
        </a>

        <ul class="dropdown-menu" role="menu" aria-labelledby="dropuser">
            {% if contact_list.owner == user %}
                <li><a href='{% url "app_contact_list_user" contact_list.owner.username %}'>Edit</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a href='{% url "app_contacts" contact_list.pk %}'>View contacts</a></li>
                <li><a href='{% url "app_collaborators" contact_list.pk %}'>View collaborators</a></li>
            {% endif %}
        </ul>
    </li>
</ul>