{% extends "base.html" %}
{% load static %}

{% block title %}Contacts for {{ contactList }}{% endblock %}

{% block heading %}
<h5><a href='/'>Home</a> > {{ contactList }}</h5>
{% endblock %}

{% block content %}
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
                <li><a href='{% url "app_contact_create" contactListId %}'>Add contact</a></li>
            {% endif %}
            <li><a href="/search">Search</a></li>
        </ul>
    </div>
</div>
<div>
    <table class="table table-striped table-hover space">
        <thead>
        <tr>
            <th>Full name</th>
            <th>Company</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
        <tr>
            <td>
                <a href='{% url "app_contact_edit" contact.id %}'>{{ contact }}</a>
            </td>
            <td>{{ contact.contact_company.name_company }}</td>
            <td>
                <a href='{% url "app_locations" contact.id %}' title="View locations">
                    <img src='{% static "img/user_cards.png" %}'>
                </a>
                <a href='{% url "app_social_networks" contact.id %}' title="View social networks">
                    <img src='{% static "img/user_cards.png" %}'>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No contacts registered.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <a href='{% url "app_contact_lists" %}'>Go back</a>
</div>
{% endblock %}


