{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Contacts</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
                <li><a href='{% url "app_contact_create" contactListId %}'>Create</a></li>
                <li><a href='{% url "app_company" contactListId %}'>Add Company</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="container">
    <div class="col-md-10">
        <h1>Create Contact</h1>
        <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy }}
        </form>
    </div>
</div>
{% endblock content %}
