{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% url cre%}
<div class="container">
    <div class="col-md-10">
        <h1>Create Location Data</h1>
        <form method="post" action="">
            {% csrf_token %}
            {{ form|crispy }}

            <input type="submit" class="btn btn-primary" value="Create Location Data"/>
            <input type="reset" class="btn btn-default" value="Reset"/>
            <input type="reset" class="btn btn-default" value="Return"/>
        </form>
    </div>
</div>
{% endblock content %}
